* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADER & NAVBAR */
.navbar {
  color: #ffffff;
  padding: 20px;
  margin: 0;
}

.navbar > h1 {
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
}

.icon {
  border-radius: 5px;
}

.uv-box {
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  /* font-weight: bold; */
}

#day-card {
  padding: 5px;
  margin-right: 10px;
}