* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url(https://images.unsplash.com/photo-1429734956993-8a9b0555e122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=779&q=80); */
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER & NAVBAR */
.navbar {
  color: #ffffff;
  padding: 20px;
  margin: 0;
}

.navbar > h1 {
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
}

/* .container {
  border: 10px solid black;
}

.row {
  border: 8px solid yellow;
}

.col-md-4 {
  border: 6px solid red;
}

.col-md-12 {
  border: 6px solid blue;
} */